@import url('./common.css');

:root {
  --white-color: #fefefe;
  --black-color: #101010;
}

html {
  min-height: 100.143vh;
}

body {
  margin: 0;
  background: #fff;
  font: 300 1rem/1.5 'Spoqa Hans Sans', sans-serif;
}
