@import url('./common.css');

:root {
  --white-color: #fefefe;
  --black-color: #101010;
  --active-color: #47af19;

  --productCardWidth: 300px;
  --productCardNum: 3;
  --productMarginRight: 20px;
}

html {
  min-height: 100.143vh;
}

body {
  margin: 0;
  background: #fff;
  font: 300 1rem/1.5 'Spoqa Hans Sans', sans-serif;
  overflow-x: hidden;
}
