.menuBar {
  display: flex;
  padding: 0 1.8rem;
}

.menuItem.hasDropdownMenu {
  margin-right: 0.6rem; /* 화살표만큼 이동 */
}

.menuItem:hover > .dropdownMenu {
  display: flex;
  z-index: -1;
}

.menuitemLink {
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
  margin-right: 1rem;
}

.arrowUp {
  /* after의 position absolute의 기준점이 되기 위해 */
  position: relative;
}

.arrowUp::after {
  content: ' ';
  display: block;
  position: absolute;
  top: calc(50% - 0.1rem); /* -0.1rem은 높이인 0.2rem을 나누기 2한 것*/
  right: -0.5rem;
  width: 0.2rem;
  height: 0.2rem;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(135deg);
}

.dropdownMenu {
  display: none;
  position: absolute;
  width: 100vw;
  left: 0;
  background-color: pink;
}

.dropdownLinks {
  border-left: solid 1px #121212;
}
