.menuBar {
  display: flex;
}

.menuItem.hasDropdownMenu {
  margin-right: 1.2rem;
}

.menuItem:hover > .dropdownMenu {
  display: flex;
  z-index: -1;
}

.arrowUp {
  /* after의 position absolute의 기준점이 되기 위해 */
  position: relative;
}

.arrowUp::after {
  content: ' ';
  position: absolute;
  right: -0.8rem;
  top: 0.4rem;
  display: block;
  width: 6px;
  height: 6px;
  border-top: 1.5px solid;
  border-right: 1.5px solid;
  transform: rotate(135deg);
}

.dropdownMenu {
  display: none;
  position: absolute;
  width: 100vw;
  left: 0;
  background-color: pink;
}

.dropdownLinks {
  border-left: solid 1px #121212;
}
