.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.forDropdownMenuLayer {
  display: flex;
  align-items: center;
  height: var(--headerHeight);
  background-color: skyblue;
  padding: 0 3rem;
}

.topBanner {
  position: relative;
  z-index: 3;
  height: var(--topBannerHeight);
  text-align: center; /* 수평 정렬 */
  line-height: var(--topBannerHeight); /* 수직 정렬 */
  font-size: 0.5rem;
  color: #505050;
  background-color: #f7f7f7;
  letter-spacing: 0.03rem;
}
