@media (max-width: 1500px) {
  .sliderContainer {
    width: 940px;
  }
}

@media (max-width: 1000px) {
  .sliderContainer {
    width: 790px;
  }
}

.sliderContainer {
  overflow: hidden;
}

.productCardContainer {
  display: flex;
  background-color: skyblue;
  /* padding: 1em; */
  /* overflow: hidden; */
  transform: translate3d(0, 0, 0);
}

.productCard {
  display: flex;
  flex-direction: column;
  background-color: pink;
  margin-right: var(--productMarginRight);
  /* width: 500px; */
}
